
@{
    ViewData["Title"] = "Home Page";
    string path = Convert.ToString(TempData["Path"]);
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">  <h2> Smart Transcript</h2></div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" enctype="multipart/form-data" asp-controller="Transcript" asp-action="Index">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="url">URL:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtUrl" placeholder="Enter URL Name" name="urlName">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        @if (!string.IsNullOrWhiteSpace(path))
                        {
                            <a asp-action="Download" asp-route-path="@path" asp-route-foo="bar" aria-hidden="false">Download it here <i class="fa fa-download" aria-hidden="false"></i></a>
                        }
                    </div>

                </div>
            </form>
            </div>
        </div>
    </div>

